<form [formGroup]="loginForm" class="flex flex-col gap-2 max-w-sm mt-10 mx-auto" (ngSubmit)="login()">
  <span class="text-lg">Login</span>
  <mat-form-field appearance="fill">
    <mat-label>Identifiant</mat-label>
    <input [formControl]="loginForm.controls.username" type="login" matInput placeholder="Placeholder">
    <mat-icon matSuffix>person</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Mot de passe</mat-label>
    <input [formControl]="loginForm.controls.password" type="password" matInput placeholder="Placeholder">
    <mat-icon matSuffix>vpn_key</mat-icon>
  </mat-form-field>
  <mat-error [class.invisible]="!loginForm.errors?.['invalid_credentials']" class="mx-auto">Login ou mot de passe incorrect</mat-error>
  <div class="flex gap-4 justify-center">
    <div class="flex gap-2 items-center">
      <button mat-raised-button type="submit" [disabled]="!loginForm.valid" color="primary" class="self-center">Connexion</button>
      <mat-spinner [class.invisible]="!isLoading" [diameter]="20"></mat-spinner>
    </div>
    <div class="flex flex-col gap-2 items-end">
      <mat-checkbox [formControl]="loginForm.controls.rememberMe"
        [checked]="loginForm.controls.rememberMe.value">
        Se souvenir de moi ?
      </mat-checkbox>
        <a href="">Mot de passe oublié</a>
    </div>
  </div>
</form>
