<div class="flex justify-end">
  <mat-card class="flex flex-col gap-2">
    <span>
      Date du jour : {{ todayDate | date:'d/M/y' }}
    </span>
    <span>Participant : {{(loginService.loggedUser$ | async)?.firstName}}</span>
  </mat-card>
</div>
<div>
  <p>Filtrer les sorties</p>
  <app-excursion-filter></app-excursion-filter>
</div>

<app-excursion-table class="mt-4" *ngIf="filteredList$ | async as filteredList" [excursions]="filteredList" [currentParticipant]="(loginService.loggedUser$ | async)" (onExcursionEvent)="onExcursionEvent($event)"></app-excursion-table>

<button mat-raised-button class="py-2" (click)="addOrUpdate(null)"><mat-icon>library_add</mat-icon> Ajouter une sortie</button>
